@inherits LayoutComponentBase
@* @inject IHostEnvironment HostEnvironment *@

<div class="Dolby-page page">
    <main class="hero-section">
        <article class="content">
            @Body
        </article>
    </main>
 <span class="notice law-content">
      <p>Dolby and the double-D symbol are registered trademarks of Dolby Laboratories Licensing Corporation. All other trademarks remain the property of their respective owners. © 2024 Dolby Laboratories, Inc. All rights reserved.</p>
      <p>***This is just a clone of The Dolby web site, we are not affiate with Dolby Laboratories.</p>
 </span>
</div>


@* <div id="blazor-error-ui" data-nosnippet>
    @if(HostEnvironment.IsProduction()){
        <span>Some thing went wroung</span>
    }else{
        <span>Error Happen</span>
    }
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div> *@

