@page "/dolby-atmos"
@using System
@using DolbySample.Components.Layout

<PageTitle>Explore Dolby Atmos sound</PageTitle>

<NavMenu navStyle="dolby-atoms-nav" />

<main class="main-atmos">
   <AtmosLayout />
</main>

@code {

}
