<!DOCTYPE html>
<html lang="en-US" >

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:region" content="US" />
	<meta property="og:local" content="en_US" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <base href="/" />
    <meta name="author" content="Cedric ANDRIANANTENAINA" />

    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="DolbySample.styles.css" />
    <link rel="icon" type="image/png" href="Dolby.png" />
    <meta name="google" content="notranslate" />
    <meta name="turbolinks-cache-control" content="no-cache">

    <meta name="description" content="Sample Dolby made by a fans " />
	<meta property="og:site_name" content="Dobly clone" />
	
	<meta property="og:type" content="website" />
    
	<link rel="manifest" href="manifest.json" />
    
	<meta property="og:image" content="/Dolby.png" />

	<meta property="analytics-track" content="Dobly clone - overview" />
	<meta property="analytics-s-channel" content="Dolby clone sample by fans" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
